# .gitignore
API/NetAng.API/.vs/NetAng.API/FileContentIndex/*.vsidx
API/NetAng.API/appsettings.json
appsettings.json

# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
UI/NetAng/dist
UI/NetAng/tmp
UI/NetAng/out-tsc
UI/NetAng/bazel-out

# Node
UI/NetAng/node_modules
UI/NetAng/npm-debug.log
UI/NetAng/yarn-error.log

# IDEs and editors
UI/NetAng/.idea/
UI/NetAng/.project
UI/NetAng/.classpath
UI/NetAng/.c9/
UI/NetAng/*.launch
UI/NetAng/.settings/
UI/NetAng/*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
UI/NetAng/.history/*

# Miscellaneous
UI/NetAng/.angular/cache
UI/NetAng/.sass-cache/
UI/NetAng/connect.lock
UI/NetAng/coverage
UI/NetAng/libpeerconnection.log
UI/NetAng/testem.log
UI/NetAng/typings

# System files
UI/NetAng/.DS_Store
UI/NetAng/Thumbs.db
